/*网页版PDF*/
.cdown {
    text-align: center;
}
.cdown a {
    width: 60%;
    font-size: 3.46666667vmin;
    line-height: 8vmin;
    height: 8vmin;
}
.cdown div {
    color: #000;
    padding-top: 6px;
    font-size: 3.6vmin;
}
/*a.btn{background:#32AEEA;color:#fff;padding:8px;border-radius:5px;display:inline-block;}*/

.cbody {
    position: relative;
    margin: 0 auto;
    user-select: none;
}
.cbody div {
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    -webkit-transform-origin: left top;
    transform-origin: left top;
}
.cbody #_FG {
    position: absolute;
} /*CCPT*/
.cbody #_BG {
    width: 100%;
    height: 100%;
}
.cbody #_PHOTO img {
    max-width: 100%;
    max-height: 100%;
}
.cbody #_QR table {
    bottom: 0;
    position: absolute;
    transform-origin: left bottom;
}
.cbody #_QR tr {
    height: 1px !important;
}
.cbody #_QR td {
    width: 1px !important;
}
.cbody #BEIZHU {
    background: #f4f4f4;
    padding: 7px 0;
} /*SVG版的CET*/

/*验证*/
.cverify ul{margin:3vmin;border-radius:1.5vmin;box-shadow:0 0 1.8vmin rgb(0 0 0 / 20%);padding:0 3vmin;}
.cverify #_PHOTO{text-align:center;}
.cverify img{width:33%;vertical-align:middle;padding:2.5vmin;}
.cverify li{border-bottom:0.26666667vmin solid #dadada;font-size:4.26666667vmin;line-height:10vmin;overflow:auto;}
.cverify li:last-child{border-bottom:0;}
.cverify li b{font-weight:normal;}
.cverify li i{color:#a3a3a3;float:right;font-style:normal;}


#PathID3,#PathID4{display: none;}
.condition {
}
.title-classA {
    margin: 1.2vmin;
    font-size: 4.53333333vmin;
    font-weight: bold;
    color: #003f7e;
    text-align: center;
    line-height: 1.5;
}
.title-classB {
    font-size: 4vmin;
    font-weight: bold;
    color: #003f7e;
    text-align: center;
    line-height: 8vmin;
}

.titleSmall-inner {
    color: #000000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.table-default {
    margin: 3vmin;
    border-radius: 1.5vmin;
    box-shadow: 0 0 1.8vmin rgb(0 0 0 / 20%);
    padding: 3vmin;
}
.table-small {
    margin: 3vmin;
    border-radius: 1.5vmin;
    box-shadow: 0 0 1.8vmin rgb(0 0 0 / 20%);
    padding: 0 3vmin;
}
.table-small-blue {
    margin: 3vmin;
    border-radius: 1.5vmin;
    box-shadow: 0 0 1.8vmin rgb(0 0 0 / 20%);
    border: 0.26666667vmin solid #c8ddee;
    padding: 0 3vmin;
}
.table-default .sbox {
    margin-bottom: 3.2vmin;
    display: flex;
    flex-direction: column;
}
.table-default .sbox span {
    font-size: 4.26666667vmin;
    /* margin-bottom: 5px; */
    display: block;
}
.sbox .sbox-inner {
    padding: 2.4vmin 0 1.2vmin 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.26666667vmin solid #dadada;
}

.table-default .sbox select,
.table-default .sbox input {
    font-size: 4vmin;
    width: 100%;
    line-height: 5.2vmin;
    border: none;
    background: #ffffff;
}
.table-default .sbox select:invalid,
.table-default .sbox input::-webkit-input-placeholder {
    font-size: 3.46666667vmin;
    color: #b3b3b3;
}

.table-default .sbox select option {
    color: #000000;
}
.table-default .sbox a {
    color: #003f7e;
}

.table-default .txtUl,
.table-default.txtUl,
.table-small .txtUl,
.table-small.txtUl,
.table-small-blue .txtUl,
.table-small-blue.txtUl {
    padding: 0 3vmin;
}

.table-default .txtUl li,
.table-default.txtUl li,
.table-small .txtUl li,
.table-small.txtUl li,
.table-small-blue .txtUl li,
.table-small-blue.txtUl li {
    border-bottom: 0.26666667vmin solid #dadada;
}

.table-default .txtUl li.km,
.table-default.txtUl li.km,
.table-small .txtUl li.km,
.table-small.txtUl li.km,
.table-small-blue .txtUl li.km,
.table-small-blue.txtUl li.km {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 4.26666667vmin;
    line-height: 8vmin;
    border-color: #c3c3c3;
    overflow: hidden;
}
.table-default .txtUl li.buttonArea,
.table-default.txtUl li.buttonArea,
.table-small .txtUl li.buttonArea,
.table-small.txtUl li.buttonArea,
.table-small-blue .txtUl li.buttonArea,
.table-small-blue.txtUl li.buttonArea {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    border: 0;
}
.table-default .txtUl ol.toggle,
.table-default.txtUl ol.toggle,
.table-small .txtUl ol.toggle,
.table-small.txtUl ol.toggle,
.table-small-blue .txtUl ol.toggle,
.table-small-blue.txtUl ol.toggle {
    display: none;
}

.table-default .txtUl li.km i,
.table-default.txtUl li.km i,
.table-small .txtUl li.km i,
.table-small.txtUl li.km i,
.table-small-blue .txtUl li.km i,
.table-small-blue.txtUl li.km i {
    float: right;
    width: 2.4vmin;
    height: 2.4vmin;
    border-left: 0.4vmin solid #333;
    border-bottom: 0.4vmin solid #333;
    transform: rotate(-45deg);
    margin-right: 1.5vmin;
    text-indent: 99999px;
}

.table-default .txtUl li.km .km-title,
.table-default.txtUl li.km .km-title,
.table-small .txtUl li.km .km-title,
.table-small.txtUl li.km .km-title,
.table-small-blue .txtUl li.km .km-title,
.table-small-blue.txtUl li.km .km-title {
    display: flex;
    flex-direction: column;
    border-bottom: 0px;
    padding: 0px;
    width: 95%;
    margin: 2vmin 0;
}

.table-default .txtUl li.km .title-min,
.table-default.txtUl li.km .title-min,
.table-small .txtUl li.km .title-min,
.table-small.txtUl li.km .title-min,
.table-small-blue .txtUl li.km .title-min,
.table-small-blue.txtUl li.km .title-min {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 0;
    padding: 0;
}

.table-default .txtUl li.km .title-min .exam-title-min,
.table-default.txtUl li.km .title-min .exam-title-min,
.table-small .txtUl li.km .title-min .exam-title-min,
.table-small.txtUl li.km .title-min .exam-title-min,
.table-small-blue .txtUl li.km .title-min .exam-title-min,
.table-small-blue.txtUl li.km .title-min .exam-title-min {
    order: 1;
    width: 27vmin;
    font-size: 3.6vmin;
    line-height: 6vmin;
    color: #999;
    font-weight: normal;
}

.table-default .txtUl .rank,
.table-default.txtUl .rank,
.table-small .txtUl .rank,
.table-small.txtUl .rank,
.table-small-blue .txtUl .rank,
.table-small-blue.txtUl .rank {
    order: 2;
    border-radius: 10vmin;
    line-height: 4.8vmin;
    padding: 2px 5px;
    font-size: 3.6vmin;
    width: 16vmin;
    text-align: center;
}
.rank.qualified {
    background-color: #e8f6e8;
    color: #19be6b !important;
}
.rank.unqualified {
    background-color: #fcebef;
    color: #c4412c !important;
}
.rank.miss {
    background-color: #ededed;
    color: #777777 !important;
}

.rank.good,
.rank.default {
    background-color: #e5ecf3;
    color: #0077ef !important;
}

.rank.excellent {
    background-color: #fceddc;
    color: #ff7f00 !important;
}

.table-default .stext,
.table-small .stext,
.table-small-blue .stext {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 4.26666667vmin;
    line-height: 10vmin;
}

.table-small .simg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.table-small .simg img {
    width: 33%;
    padding: 2.5vmin;
}

.stext .lift-t {
    text-align: left;
    width: 40%;
}
.stext .lift-t-sec {
    text-align: left;
    width: 40%;
    color: #a3a3a3;
}
.stext .right-t {
    text-align: right;
    width: 59%;
    display: -webkit-box;
    word-break: break-all;
    -webkit-box-orient: vertical;
}

.stext .right-t-sec {
    text-align: right;
    width: 59%;
    display: -webkit-box;
    word-break: break-all;
    -webkit-box-orient: vertical;
    color: #a3a3a3;
}

.stext .justify-t {
    text-align: left;
    line-height: normal;
    width: 100%;
    margin: 2vmin 0;
}

.stext .justify-t-sec {
    text-align: justify;
    line-height: normal;
    width: 100%;
    color: #a3a3a3;
    margin: 2vmin 0;
}

/* 按钮样式 */
.button-main {
    display: block;
    width: 80%;
    height: 9vmin;
    margin: auto;
    background-color: #003f7e;
    color: #ffffff;
    font-size: 4vmin;
    line-height: 9vmin;
    text-align: center;
    border: none;
    border-radius: 1.5vmin;
}
.button-secondary {
    display: block;
    width: 80%;
    height: 9vmin;
    margin: auto;
    background-color: #ffffff;
    color: #003f7e;
    font-size: 4vmin;
    line-height: 8.4vmin;
    text-align: center;
    border: none;
    border-radius: 1.5vmin;
    border: 0.3vmin solid #003f7e;
}
.button-main-tinner {
    display: block;
    width: 35%;
    height: 8vmin;
    margin: 1.5vmin 0vmin 0vmin 2vmin;
    background-color: #003f7e;
    color: #ffffff;
    font-size: 3.5vmin;
    line-height: 8vmin;
    text-align: center;
    border: none;
    border-radius: 1.5vmin;
}
.button-secondary-tinner {
    display: block;
    width: 35%;
    height: 8vmin;
    margin: 1.5vmin 0vmin 0vmin 2vmin;
    background-color: #ffffff;
    color: #003f7e;
    font-size: 3.5vmin;
    line-height: 7.4vmin;
    text-align: center;
    border: none;
    border-radius: 1.5vmin;
    border: 0.3vmin solid #003f7e;
}
.table-small .msgtext,
.table-default .msgtext {
    display: flex;
    flex-direction: column;
    font-size: 4vmin;
    color: #a3a3a3;
    text-align: justify;
}

.table-default .describe {
    margin: 3vmin 0;
    color: black;
    text-align: justify;
    font-size: 4vmin;
}

.table-default .reminder {
    margin: 3vmin 0;
    color: #ff9919;
    text-align: justify;
    font-size: 3.46666667vmin;
}

.sbox .tips-err {
    color: red;
    margin-top: 0.3vmin;
    display: block;
    font-size: 3.46666667vmin;
}

.sbox .btnspz {
    margin-left: 1.5vmin;
    /* width: 17vmin; */
    color: #003f7e;
    font-size: 3.6vmin !important;
    /* line-height: 5.2vmin; */
    text-align: right;
}
.sbox .tips-spz {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.6vmin;
}

.sbox .tips-spz .viewspz {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    color: #a3a3a3;
    font-size: 3.6vmin !important;
}

.sbox .sbox-inner .veritfy-img {
    height: 7.6vmin;
    margin: 0 0.8vmin;
    vertical-align: middle;
}

.border-bottom-def {
    border-bottom: 0.26666667vmin solid #dadada;
}

.border-bottom-def-nolast :last-child {
    border-bottom: none;
}

/*生僻字面板*/
.keyspz {
    position: fixed;
    display: none;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: #eee;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    z-index: 99;
}
.keyspz .keyspz-tit {
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #0861ba;
    margin-bottom: 10px;
}
.keyspz .keyspz-tit span {
    float: right;
}
.keyboard-out {
    overflow-y: auto;
    height: 245px;
}
.keyspz ol li {
    width: calc((100% - 32px) / 8);
    height: 36px;
    line-height: 36px;
    margin-bottom: 8px;
    margin-left: 8px;
    text-align: center;
    color: #333;
    border-radius: 6px;
    font-size: 20px;
    background-color: #fff;
    float: left;
}
.keyspz-gn {
    float: right;
    width: 20%;
}
.keyspz-del {
    background: url(/res/Home/structure/21090030.png) no-repeat center center / 26px;
    height: 115px;
    width: 100%;
}
.keyspz-close {
    background: #0861ba;
    color: #fff;
    height: 130px;
    line-height: 130px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
}

.container-cuab {
    text-align: center;
    border-top: 0.4vmin solid #dadada;
    font-size: 4vmin;
    line-height: 10vmin;
}
.container-cuab a {
    color: #003f7e;
}
/* 联系我们弹窗 */
.container-cuab-tc {
    position: fixed;
    top: 40%;
    left: 50%;
    margin-left: -125px;
    background: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.container-cuab-tc p {
    padding: 5px 0;
}
.container-cuab-tc p a {
    color: #7eaad7;
}
.container-cuab-tc i {
    font-style: inherit;
    display: block;
    text-align: right;
    padding-bottom: 10px;
}
/*常见问题*/
.condition-right.intr {
    margin: 3vmin;
}
.condition-right.intr li {
    margin-bottom: 3vmin;
}
.condition-right.intr li span {
    display: block;
    font-size: 4vmin;
    margin-bottom: 2vmin;
}
.condition-right.intr li .problem_answer {
    background: #f5f5f5;
    padding: 2vmin;
    border-radius: 1.2vmin;
    color: #666;
    font-size: 3.46666667vmin;
    text-align: justify;
}

    .outlogin #welcome {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: nowrap;
    }
    .outlogin .profile {
        color: #003f7e;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-end;
    }
    .outlogin .profile::before {
        content: " ";
        width: 20px;
        height: 20px;
        background-image: url(https://cjcx.neea.edu.cn/res/Home/structure/24040326.png);
        background-position: 0 100%;
        background-size: contain;
        background-repeat: no-repeat;
     }